**
!package.json
!pnpm-lock.yaml
!tsconfig*.json
!apps/
!apps/companion/
!apps/companion/**
!services/
!services/**
!deploy/
!deploy/**
!plugins/
!plugins/connections/
!plugins/connections/**
!plugins/access/
!plugins/access/**
!runtime/
!runtime/openclaw.sh
!runtime/models.ts
!release/
!release/licenses/
!release/licenses/**
**/node_modules
**/.local
**/dist
**/.env
**/.env.*
!runtime/packs.sh
!scripts/
!scripts/packs.ts
!scripts/packs/
!scripts/packs/**
!packs/
!packs/research-team/
!packs/research-team/**
