Port 2222
ListenAddress 0.0.0.0
HostKey /home/node/.clawscarf-worker/host_ed25519
AuthorizedKeysFile /home/node/.clawscarf-worker/authorized_keys
PidFile /tmp/clawscarf-sshd.pid
AllowUsers node
PermitRootLogin no
PubkeyAuthentication yes
AuthenticationMethods publickey
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
UsePAM no
DisableForwarding yes
PermitUserEnvironment no
PermitUserRC no
StrictModes yes
LogLevel ERROR
